.setup {
     background-image: url('aboutme-assets/750ti.png');
     background-color: #407f00;
     background-repeat: no-repeat;
     background-attachment: local;
     background-size: 20%;
     background-position-x: center;
     text-shadow: 1px 1px 1px black;
     border-radius: 5%;
     border: white 4px solid;
     border-bottom-left-radius: 0%;
     border-bottom-right-radius: 0%;
     border-bottom: none;
     padding-top: 1em;
}
.setup h2 {
    margin-left: 0.5em;
}
.setup p {
    margin-left: 1em;
}
.socialmed {
    border: black 4px solid;
    border-radius: 5%;
    border-top-left-radius: 0%;
    border-top-right-radius: 0%;
    border-top: none;
    background-image: url('aboutme-assets/smedia.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    text-shadow: 1px 1px 3px black;
    padding-left: 6px;
    padding-bottom: 1em;
}
.iconrow {
    display: inline-block;
    vertical-align: middle;
    margin: 9px;
}
.iconrow a {
    display: inline-block;
    vertical-align: middle;
    margin-right: 4.5em;
}
.textrow {
    display: inline-block;
    vertical-align: middle;
    margin: 9px 4.5em 9px 9px;
}
/*.sections {

}*/




@media screen and (max-width: 1200px) {
    .setup {
        background-image: url('aboutme-assets/750ti.png');
        background-size: 25%;
    }
}
@media screen and (max-width: 1100px) {
    .setup {
        background-image: url('aboutme-assets/750ti.png');
        background-size: 30%;
    }
}
@media screen and (max-width: 900px) {
    .setup {
        background-image: url('aboutme-assets/750ti.png');
        background-size: 35%;
    }
}
@media screen and (max-width: 800px) {
    .setup {
        background-image: url('aboutme-assets/750ti.png');
        background-size: 40%;
    }
}
@media screen and (max-width: 700px) {
    .setup {
        background-image: url('aboutme-assets/750ti.png');
        background-size: 50%;
    }
}
@media screen and (max-width: 650px) {
    .setup {
        background-image: url('aboutme-assets/750ti-thumb.png');
        background-size: 55%;
    }
}
@media screen and (max-width: 400px) {
    .setup {
        background-image: url('aboutme-assets/750ti-thumb.png');
        background-size: 70%;
    }
}
@media screen and (max-width: 300px) {
    .setup {
        background-image: url('aboutme-assets/750ti-thumb.png');
        background-size: 80%;
    }
}
