.setup {
     background-image: url('aboutme-assets/750ti.png');
     background-color: #407f00;
     background-repeat: no-repeat;
     background-attachment: local;
     background-size: 20%;
     background-position-x: center;
     text-shadow: 1px 1px 1px black;
}
.socialmed {
    background-image: url('aboutme-assets/smedia.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    text-shadow: 1px 1px 1px black;
}
@media screen and (max-width: 1200px) {
    .setup {
        background-image: url('aboutme-assets/750ti.png');
        background-size: 25%;
    }
}
@media screen and (max-width: 1100px) {
    .setup {
        background-image: url('aboutme-assets/750ti.png');
        background-size: 30%;
    }
}
@media screen and (max-width: 900px) {
    .setup {
        background-image: url('aboutme-assets/750ti.png');
        background-size: 35%;
    }
}
@media screen and (max-width: 800px) {
    .setup {
        background-image: url('aboutme-assets/750ti.png');
        background-size: 40%;
    }
}
@media screen and (max-width: 700px) {
    .setup {
        background-image: url('aboutme-assets/750ti.png');
        background-size: 50%;
    }
}
@media screen and (max-width: 650px) {
    .setup {
        background-image: url('aboutme-assets/750ti-thumb.png');
        background-size: 55%;
    }
}
@media screen and (max-width: 400px) {
    .setup {
        background-image: url('aboutme-assets/750ti-thumb.png');
        background-size: 70%;
    }
}
@media screen and (max-width: 300px) {
    .setup {
        background-image: url('aboutme-assets/750ti-thumb.png');
        background-size: 80%;
    }
}
