html {
   background-color: #8836e0;
   color: #FFFFFF;
   background-image: linear-gradient(#5e1ba6, #8836e0);
   background-repeat: no-repeat;
   background-size: cover;
}
body {
  font-family: sans-serif;
}
