@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root {
   --nav-link-color: #FFFFFF;
   --inactive-link-color: #82F1FC;
}

html {
   background-color: #8836e0;
   color: #FFFFFF;
   background-image: linear-gradient(#5e1ba6, #8836e0);
   background-repeat: no-repeat;
   background-size: cover;
}
body {
  font-family: 'Noto Sans', sans-serif;
}
a {
   /*color: #CB82FC;*/
   color: var(--inactive-link-color);
   transition: color 140ms;
   transition-timing-function: ease-out;
}
a:hover {
   color: #82FC91;
   transition: color 240ms;
   transition-timing-function: ease-in;
}
a:active {
   color: #fcbd82;
   transition: color 100ms;
   transition-timing-function: ease-in-out;
}
   

nav ul {
      list-style-type: none;
      background-color: #863452;
      opacity: 0.5;
      border: 0.24em solid #111310;
      border-radius: 0.25em;
      padding: 16px;
      box-shadow: 0.25em 0.25em 0.125em rgba(22,55,44,0.5);
      --nav-link-color: #FFFFFF;
      transition: opacity 0.2s;
      transition-timing-function: ease-in;
 }

nav ul:hover {
   --nav-link-color: var(--inactive-link-color);
   opacity: 1;
}

 nav ul li {
   display: inline;
   border-right: 0.14em solid #131313;
   padding-left: 0.5em;
   padding-right: 0.5em;
 }

 nav ul li:first-child {
   padding-right: 0.5em;
   border-right: 0.14em solid #131313;
   padding-left: 0.5em;
 }

 nav ul li:last-child {
   border-right: none;
 }

 nav ul li a {
   text-decoration: underline;
   color: var(--nav-link-color);
   text-shadow: none;
   transition: text-shadow 250ms;
   transition-timing-function: ease-in;
 }

 nav ul li a:hover {
   color: #82FC91;
   text-shadow: 0.0625em 0.125em 0.25em #000000;
   transition: text-shadow 250ms;
   transition-timing-function: ease-out;
 }

 nav ul li a:active {
   color: #fcbd82;
   transition: color 100ms;
   transition-timing-function: ease-in-out;
 }

 .title {
   text-decoration: underline overline;
   padding-top: 2.5em;
   padding-bottom: 1em;
   text-shadow: 2px 2px 5px #b182fc;
   text-align: center;
 }

 .sitetitle {
   padding-top: 0.5em;
   /*padding-bottom: 2em;*/
   text-shadow: 2px 2px 5px #b182fc;
   transform: rotateY(15deg) rotateX(45deg);
   transition: transform 100ms;
   transition-timing-function: ease-out;
 }

 .sitetitle:hover {
   transform: rotateY(5deg) rotateX(5deg);
   transition: transform 50ms;
   transition-timing-function: ease-in;
 }

.underline {
   text-decoration: underline;
}

footer {
   text-align: center;
   p {
      padding-top: 2em;
      padding-bottom: 1em;
   }
}

/* Responsive layout - when the screen is less than 800px wide */
@media screen and (max-width: 800px) {
   nav ul li {
      display:block;
      list-style-type:disc !important;
      border-right: none !important;
   }
 }
 
 /* Responsive layout - when the screen is less than 400px wide */
 @media screen and (max-width: 400px) {
   nav ul li {
      display: inline;
      list-style-type: none;
   }
 }

 section {
   padding-top: 2em;
   padding-bottom: 1em;
 }